<!--<div class="container-page container" id="main-page">-->
	<!--&lt;!&ndash;Header&ndash;&gt;-->
	<!--<div id="masthead" class="header cf row" role="banner">-->
		<!--<div class="logo col-md-3 col-sm-5 col-xs-7 "><a href="#" id="wellFargoLogoLnk"><img src="https://www01.wellsfargomedia.com/assets/images/global/wf-logo.gif" alt="Wells Fargo Home Page" /></a>-->
		<!---->
	<!--</div>-->
	<!--<div class="col-md-2 col-sm-2 col-xs-4 pull-right">-->
		<!--<a class="complaint-form-sign-off js-nav-away-link pull-right" id="signOffHeaderLnk" href="#">Sign Off</a>-->
	<!--</div>-->
<!--</div>-->
<!-- Main Page -->
<div class="cf body-content">
	<section class="content-wrapper" role="main">
		<p class="landing-headline">Thank you for using the Third Party Service Provider (TPSP) Customer Complaint Web Application.</p>
		<label class="landing-eng">Engagement</label> <br />
		<select name="landing-dropdown" id="dropdown" class="dropdown" dropdown on-toggle="toggled(open)"
			ng-change="getForms()"ng-click="copy()" ng-model="optionVal"
			ng-options="optVal.forms as optVal.engagementId for optVal in options" required="required">
			<option value="">Select One</option>
		</select>
		<section>
			<label class="landing-eng" ng-show="optionVal">Complaint type</label>
			<div ng-repeat="form in forms">
				<!--<input type="radio" ng-model="$parent.favoriteBeatle"
				name="name" value="{{person.name}}" required="required"/>-->
				<input type="radio" class="selected-forms" ng-change="chnagedradio(form)" name="formName" value="{{form}}"
				ng-model="$parent.formvalue" required="required" />
				<p>{{form}}</p>
			</div>
		</section>
	</section>
		<div class="upload-file">
			<button type="button" class="continue-btn" ng-click="continue()" ng-show="optionVal">Continue</button>
		</div>
		
	</div>
	<!-- Footer -->
	<!--<div class="footer" role="contentinfo">-->
		<!---->
		<!--<p class="copy">&copy; 1999-<script type="text/javaScript">-->
		<!--//<![CDATA[ today=new Date(); year0=today.getFullYear(); document.write(year0); //]]>-->
		<!--</script>2016 Wells Fargo. All rights reserved.</p>-->
	<!--</div>-->
<!--</div>-->